<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test Application{% endblock %}</title>
</head>
<body>
<div id="sidebar">
    {% block sidebar %}

            <li><a href="/">Home</a></li>
            <li><a href="/lucky">Lucky number</a></li>

    {% endblock %}
</div>

<div id="content">
    {% block body %}{% endblock %}
</div>
</body>
</html>